.wrapper {
    position: relative;
    height: 100vh;
    background: #282c34;
}

.titleBar {
    -webkit-app-region: drag;

    height: 42px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    background: #282c34;
}

.titleBar:hover {
    background: #21252b;
}
